@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --title-base-color: #fff;
    --title-dark-color: #292d3a;
    --subtitle-color: #1c1f29;
    --paragraph-text-color: #717888;
    --button-bg-color: #f55d4a;
    --button-hover-color: #556cd5;
    --header-card-bg: #1c1f29bf;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

.special-divider {
    border: none;
    background-color: var(--button-bg-color);
    height: 1px;
    width: 30%;
}

body{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header {
    background-image: url(../img/header_bg.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}