@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Varela&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --title-base-color: #fff;
    --title-dark-color: #292d3a;
    --subtitle-color: #1c1f29;
    --paragraph-text-color: #717888;
    --button-bg-color: #f55d4a;
    --button-hover-color: #556cd5;
    --header-card-bg: #1c1f29bf;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

.special-divider {
    border: none;
    background-color: var(--button-bg-color);
    height: 1px;
    width: 30%;
}

body {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header {
    background-image: url(../img/header_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header_contacts {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.header_contacts__number {    
    color: var(--title-base-color);
    font-weight: 600;
    font-size: 14px;
}

.header_contacts__number a {
    text-decoration: none;
    color: var(--title-base-color);
}

.header_contacts__number a:hover {
    color: var(--button-bg-color);
}

.header_contacts__sotial a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--title-base-color);
    transition: all 0.5s ease;
}

.header_contacts__sotial a:not(:last-child) {
    margin: 0 10px 10px 0;
}

.header_contacts__sotial a:hover {
    color: var(--title-dark-color);
    background-color: var(--title-base-color);
}

.logo a {
    text-decoration: none;
    color: var(--title-base-color);
    font-weight: 600;
    font-size: 32px;
}

.header_nav__menu {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav__menu-list ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.header_nav__menu-list ul li a {
    text-decoration: none;
    color: var(--title-base-color);
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.header_nav__content {
    padding-top: 165px;
    text-align: center;
}

.header_nav__content h1 {
    color: var(--title-base-color);
    font-size: 90px;
}

.header_nav__content h1 span {
    color: var(--button-bg-color);
}

.header_nav__content h6 {
    padding: 32px;
    color: var(--title-base-color);
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header_btn {
    text-decoration: none;
    color: var(--subtitle-color);
    font-weight: 600;
    font-size: 13px;
    padding: 20px 50px;
    margin: 40px 0;
    background-color: var(--title-base-color);
    border-radius: 30px;
}

.header_btn:hover {
    color: var(--title-base-color);
    background-color: var(--button-bg-color);
    transition: all 0.3s ease;
}

.header_nav__count_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card_item {
    height: 200px;
    background-color: var(--header-card-bg);

}